body {
    background-color: #333333;
    align-content: center;
    align-items: center;
}
p, div {
    color: whitesmoke;
}
div.about-me {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 140px;
    margin-right: 100px;
    text-align: left;
}
div.disclaimer {
    display: flex;
    font-family: Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 10px;
    text-align: left;
    justify-content: center;
}
p.datetime {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}
html,body {
    font-family: Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica, sans-serif;
}
h4 {
    text-align: center;
}
img {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
a:hover {
    background-color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-right: 40px;
    
}
ul li {
    color: lightgray;
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 20px;
}
ul li a {
    color: lightgray;
    list-style-type: none;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}