html {
    background-color: #3e3e3e;
    height: 100%;
    width: 100%;
}
body {
    font-family: Helvetica, sans-serif;
    align-content: center;
    align-items: center;
    margin: 0;
}
p, div {
    color: whitesmoke;
    align-content: center;
    align-items: center;
}

p.resume {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    justify-content: left;
    text-align: left;
    margin-left: 100px;
}

p.datetime {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

div.about-me {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    /* justify-content: center; */
    margin-top: 150px;
    margin-bottom: 500px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}

div.disclaimer {
    display: flex;
    font-family: Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
    justify-content: center;
}

div.gamecontrols {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    text-align: center;
    justify-content: center;
}

h1,h3,h5,h6 {
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 100px;
}
h2 {
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    align-content: center;
    align-items: center;
    text-align: center;
}

h2.resume {
    text-align: left;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
}

h4 {
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
img {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: white;
}

img.myphoto {
    display: flex;
    margin: auto;
    justify-content: center;
}
img.gif {
    display: flex;
    margin-top: 200px;
    margin-bottom: 500px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 40px;
    
}
ul li {
    color: lightgray;
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 30px;
    margin: 25px;
}
ul li a {
    color: lightgray;
    list-style-type: none;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#navbar {
    position: relative;
    margin-bottom: 25px;
    top: 0;
    left: 0;
    display:block;
}
#gameCanvas {
    position: relative;
    display: flex;      /* change to block if no work */
    padding-top: 50px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

a:hover {
    background-size: 50%, 50%;
    background-color: rgb(47, 109, 255);
}

@media only screen and (max-width: 375px) {
    body {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    div {
        font-size: 50%;
    }
    .myphoto {
        max-width: 50%
    }
    .about-me {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    .resume {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    .disclaimer {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    .social-media {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    #gameCanvas {
        width: 50%;
    }
    #disclaimer {
        width: 50%;
    }
    #gamecontrols {
        width: 50%;
    }
}
@media only screen and (max-width: 410px) {
    body {
        width: 65%;
        align-content: center;
        font-size: 65%;
    }
    div {
        font-size: 50%;
    }
    .myphoto {
        max-width: 50%
    }
    .about-me {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    .resume {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    .disclaimer {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    .social-media {
        width: 50%;
        align-content: center;
        font-size: 50%;
    }
    #gameCanvas {
        width: 70%;
    }
    #disclaimer {
        width: 55%;
    }
    #gamecontrols {
        width: 55%;
    }
}
@media only screen and (max-width: 1000px) {
    body {
        width: 75%;
        align-content: center;
        font-size: 75%;
    }
    div {
        font-size: 75%;
    }
    .myphoto {
        max-width: 75%
    }
    /* .about-me {
        width: 75%;
        align-content: center;
        font-size: 75%;
    } */
    .resume {
        width: 75%;
        align-content: center;
        font-size: 75%;
    }
    .disclaimer {
        width: 75%;
        align-content: center;
        font-size: 75%;
    }
    .social-media {
        width: 75%;
        align-content: center;
        font-size: 75%;
    }
    #gameCanvas {
        width: 80%;
    }
    #disclaimer {
        width: 75%;
    }
    #gamecontrols {
        width: 75%;
    }
}
@media only screen and (min-width: 1001px) {
    body {
        width: 100%;
        align-content: center;
        font-size: 100%;
    }
    div {
        font-size: 100%;
    }
    .myphoto {
        max-width: 100%
    }
    /* .about-me {
        width: 100%;
        align-content: center;
        font-size: 100%;
    } */
    .resume {
        width: 100%;
        align-content: center;
        font-size: 100%;
    }
    .disclaimer {
        width: 100%;
        align-content: center;
        font-size: 100%;
    }
    .social-media {
        width: 100%;
        align-content: center;
        font-size: 100%;
    }
    #disclaimer {
        width: 100%;
    }
    #gamecontrols {
        width: 100%;
    }
}