body {
    background-color: #70707018;
    text-indent: 40px;
}
p, div {
    color: whitesmoke;
}
div.about-me {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    justify-content: center;
    margin: auto;
    text-align: left;
}
div.disclaimer {
    display: flex;
    margin: auto;
    width: 50%;
    font-size: 12px;
    text-align: left;
    justify-content: left;
}
div.time {
    text-align: center;
}
html,body {
    font-family:"Helvetica",sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family:"Helvetica",sans-serif;
}
h4 {
    text-align: center;
}
img {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.navigation {
    display: inline;
    float: left;
}
li a.navigation {
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
li a:hover.navigation {
    background-color: lightslategray;
}
ul.social-media {
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
ul li {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 20px;
}
ul li a {
    display: flex;
    align-items: left;
    justify-content: center;
    height: 100%;
    width: 100%;
}
ul li a img {
    width: 100%;
}